# env variables
.env
.env.local

# compiled output
dist/
.output/
node_modules/
dbml/

# nuxt
.nuxt/
.nitro/
.cache/

# Logs
logs
*.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
dbml-error.log

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
